.img {
    width: 50px;
    height: 50px;
    background-color: grey;
}

.skill {
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.skillItem {
    background-color: grey;
    width: 100%;
}

@media screen and (max-width: 1130px) {
    .skill {
        width: 500px;
    }
}

@media screen and (max-width: 630px) {
    .skill {
        width: 100%;
    }
}
