.footer {
    min-height: 200px;
    background-color: #252527;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 500;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 310px;
    padding: 15px;
}

.link {
    background-color: #1f1f20;
    border-radius: 50%;
    border: 2px solid grey;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out 0s;
}

.link:hover {
    border: 2px solid #1f1f20;
    background-color: #4e93e6;
}

.icon:hover {
    color: #ffffff;
}

.link a {
    line-height: 1;
}

.icon {
    color: #4e93e6;
    transition: all 0.3s ease-in-out 0s;
    border-radius: 50%;
    padding: 11px;
}

.rights {
    opacity: 50%;
    margin-top: 15px;
    font-size: 12px;
}

@media screen and (max-width: 350px) {
    .links {
        width: 100%;
    }
}

