.slogan {
    min-height: 350px;
    background-color: #252527;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 180px;
    border: none;
    text-transform: uppercase;
    margin: 0 0 15px;
    padding: 8px 30px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    letter-spacing: 2px;
    outline: none;
    color: white;
    text-decoration: none;
    position: relative;
    z-index: 0;
}

.button:after {
    content: "";
    position: absolute;
    width: 50%;
    height: 10px;
    background-color: #4e93e6;
    bottom: 0;
    z-index: -1;
    transition: all 0.2s ease-in-out;
}

.button:hover:after {
    width: 100%;
    height: 100%;
}