.contacts {
    min-height: 85vh;
    background-color: #b9b2ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    height: 80%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form {
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
}

.input {
    height: 20px;
}

.text {
    height: 200px;
}

@media screen and (max-width: 756px) {
    .form {
        width: 100%;
    }
}

