.skills {
    min-height: 100vh;
    background-color: #252527;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mySkills {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1130px) {
    .mySkills {
        flex-direction: column;
        align-items: center;
    }
}




