.project {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 400px;
    height: max-content;
    margin: 30px 30px 50px 30px;
}

.project a {
    text-decoration: none;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    transition: all 0.4s ease-in-out 0s;
    background-size: cover;
    background-position: center;
    position: relative;
}

.project:hover .img {
    transform: scale(1.015, 1.015);
}

.img:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 250px;
    transition: all 0.4s ease-in-out 0s;
}

.project:hover .img:before {
    background-color: black;
    opacity: 0.4;
}

.watch {
    text-transform: uppercase;
    margin-top: 130px;
    transition: all 0.4s ease-in-out 0s;
    color: transparent;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    font-weight: 600;
    font-size: 16px;
    z-index: 0;
}

.project:hover .watch {
    color: #ffffff;
    margin-top: 0;
}

.description {
    display: flex;
    flex-direction: column;
    background-color: #252527;
}

.name {
    padding: 3%;
    background-color: #252527;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1px;
}

.shortDescr {
    padding: 5px 3%;
}

@media screen and (max-width: 1148px) {
    .project {
        width: 500px;
    }
}