.project {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 400px;
    margin-bottom: 50px;
    height: max-content;
    padding: 30px;
    position: relative;
}

.img {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.img:before {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    height: 250px;
    background-color: black;
    opacity: 0.4;
}

.watch {
    position: relative;
}

.description {
    display: flex;
    flex-direction: column;
    background-color: #252527;
}

.name {
    padding: 3%;
    background-color: #252527;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1px;
}

.shortDescr {
    padding: 5px 3%;
}

@media screen and (max-width: 1000px) {
    .project {
        width: 500px;
    }
}