.project {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 400px;
}

.img {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.description {
    display: flex;
    flex-direction: column;
    background-color: grey;
}

.name {
    padding: 3%;
    background-color: darkslategrey;
}

.shortDescr {
    padding: 5px 3%;
}

@media screen and (max-width: 1000px) {
    .project {
        width: 500px;
    }
}