.header {
    height: 60px;
    background-color: #282928;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid black;
}

.container {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

