.nav {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    color: #c0c0c0;
    padding: 10px;
    cursor: pointer;
}

.link:hover {
    color: #ffffff;
}
